.navbar {
  &.bottom-nav {
    width: 100%;
    position: sticky;
    bottom: 0;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all .2s;

      &:hover {
        font-size: 1.1rem;
      }

      &.active {
        @extend :hover;
      }
    }

    .nav {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.grocery-save {
  text-align: center;
  position: sticky;
  top: .25rem;
  z-index: 10;
}